.vscode
.github

*.ts
*.map

tsconfig.json
node_modules
.vscode-test.js
build.js

server
client
test
java
!server/out/server.js
!client/out/extension.js
!java/CheckJavaVersion.class

.eslintignore
.prettierignore
.gitignore

DEV.md
