# Meta
.github
.vscode

# NPM
node_modules

# TypeScript
tsconfig.json

# Ignore files
.eslintignore
.gitignore
.prettierignore

# Sub projects
client
java
server
test
!client/out/extension.js
!java/CheckJavaVersion.class
!server/out/server.js

# Other
.vscode-test.js
build.js
DEV.md
